body{
    font-family:'Gill Sans MT';
    background-color: rgb(7, 7, 7);
    color: white;
}


.GAME_CONTAINER{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}


#LETTERS{
    display: grid;
    grid-template-columns: repeat(13, 60px);
    margin-top: 5vh;
    grid-gap: 5px;
}

#LETTERS button{
    font-size: 2em;
    background-color: rgb(15, 43, 75);
    color: white;
    border: 0px;
    border-radius: 3%;
    transition: 0.3s;
    cursor: pointer;
    text-transform: uppercase
}

#LETTERS button:hover{
    margin: 5px;
}


#WORD{
    display: flex;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
}


#WORD span{
    animation: fadein 0.5s;
}

@keyframes fadein {
    from{
        opacity: 0;
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
        opacity: 1;
    }
}

#WORD div{
    margin: 4px;
}

#WORD div div{
    position: relative;
    border: 3px solid rgb(138, 138, 138);
    width: 50px;
    border-radius: 15%;
}


#INFO{
    font-size: 3em;
    margin-bottom: 20px;
    color: rgb(160, 255, 160);
}

.HANGMAN{
    margin-bottom: 30vh;
}

.HINT_BUTTON{
    cursor: pointer;
    color: black;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3%;
    padding: 15px;
    background-color: gold;
    transition: 0.1s ease-in-out;
}

.HINT_BUTTON:hover{
    padding: 20px;
}


.HINT{
    font-size: 1.5em;
    
}

#GUESSES_LEFT{
    font-size: 0.5em;
    color: white;
}

/*
___________________________________________________
___________________________________________________ 
            
                HANGMAN PARTS
___________________________________________________
___________________________________________________
*/

#FIRST{
    display: none;
    position: absolute;
    right: 44vw;
    bottom: 65.7vh;
    border: 4px solid rgb(118, 204, 48);
    width: 250px;
}

#SECOND{
    display: none;
    position: absolute;
    bottom: 66.5vh;
    right: 54.3vw;
    transform: rotate(0deg);
    border: 5px solid rgb(105, 104, 104);
    width: 40px;
}

#THIRD{
    display: none;
    position: absolute;
    bottom: 78.1vh;
    right: 50vw;
    transform: rotate(90deg);
    border: 5px solid rgb(189, 127, 86);
    width: 208px;
}

#FOURTH{
    display: none;
    position: absolute;
    bottom: 86vh;
    right: 47.5vw;
    border: 5px solid rgb(189, 132, 94);
    width: 150px;
}

#FIFTH{
    display: none;
    position: absolute;
    bottom: 84vh;
    right: 52.9vw;
    transform: rotate(145deg);
    border: 5px solid rgb(189, 132, 94);
    width: 50px;
}


#SIXTH{
    display: none;
    position: absolute;
    bottom: 84vh;
    right: 52.9vw;
    transform: rotate(145deg);
    border: 5px solid rgb(189, 132, 94);
    width: 50px;
}

#SEVENTH{
    display: none;
    position: absolute;
    bottom: 82.5vh;
    right: 47vw;
    transform: rotate(90deg);
    border: 2px solid rgb(184, 171, 163);
    width: 60px;
}

#EIGHT{
    display: none;
    position: absolute;
    bottom: 75.9vh;
    right: 47.9vw;
    font-size: 2em;
}

#NINTH{
    display: none;
    position: absolute;
    bottom: 74.5vh;
    right: 47.4vw;
    transform: rotate(90deg);
    border: 2px solid rgb(255, 254, 253);
    width: 40px;
}


#TENTH{
    display: none;
    position: absolute;
    bottom: 76vh;
    right: 47.4vw;
    transform: rotate(40deg);
    border: 2px solid rgb(255, 254, 253);
    width: 20px;
}

#ELEVENTH{
    display: none;
    position: absolute;
    bottom: 76vh;
    right: 48.4vw;
    transform: rotate(-40deg);
    border: 2px solid rgb(255, 254, 253);
    width: 20px;
}

#TWELTH{
    display: none;
    position: absolute;
    bottom: 71.7vh;
    right: 47.4vw;
    transform: rotate(40deg);
    border: 2px solid rgb(255, 254, 253);
    width: 20px;
}

#THIRTEENTH{
    display: none;
    position: absolute;
    bottom: 71.7vh;
    right: 48.4vw;
    transform: rotate(-40deg);
    border: 2px solid rgb(255, 254, 253);
    width: 20px;
}